body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 设置页面高度为视口高度，确保在不同设备上完整显示 */
    background-color: #f9f9f9;
    margin: 0;
    overflow-y: auto; /* 允许整个页面上下滚动 */
}

.container {
    text-align: center;
    max-width: 400px;
    max-height: 100vh; /* 确保容器最大高度不超过视口高度 */
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #FF5722;
}

form label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    padding-left: 20px;
}

form input, form select {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 20px;
}

button {
    background-color: #FF5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #E64A19;
}

#game {
    margin-top: 20px;
}

#question {
    font-size: 24px;
    margin-bottom: 10px;
}

.option-button {
    background-color: #FF5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.option-button:hover {
    background-color: #E64A19;
}

#feedback, #time {
    font-size: 18px;
    margin-top: 10px;
}

#history {
    flex-grow: 1;
    margin-top: 20px;
    max-height: 200px; /* 设置历史记录容器的最大高度 */
    overflow-y: auto;
}

#history div {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

#history div:nth-child(even) {
    background-color: #f2f2f2; /* 设置偶数行背景颜色 */
}

#history div:nth-child(odd) {
    background-color: #ddd; /* 设置奇数行背景颜色 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%; /* 设置 body 和 html 的高度为 100%，确保充满整个视口 */
}
