body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* 设置字体样式 */
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 设置视口高度 */
    background-color: #f9f9f9; /* 背景颜色 */
    margin: 0; /* 移除默认边距 */
    overflow-y: auto; /* 允许整个页面上下滚动 */
}

.container {
    text-align: center; /* 居中文本 */
    max-width: 400px; /* 最大宽度 */
    max-height: 80vh; /* 设置最大高度为视口高度的80% */
    overflow-y: auto; /* 如果内容超出高度，显示滚动条 */
    background-color: #fff; /* 背景颜色 */
    padding: 20px; /* 内边距 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影 */
    border-radius: 15px; /* 圆角 */
    display: flex;
    flex-direction: column;   
}

h1 {
    color: #FF5722; /* 标题颜色 */
}

form label {
    display: block; /* 块级元素 */
    margin: 10px 0 5px; /* 外边距 */
    text-align: left; /* 左对齐 */
    padding-left: 20px; /* 左侧内边距 */
}

form input, form select {
    width: calc(100% - 40px); /* 宽度适应新内边距 */
    padding: 10px; /* 内边距 */
    margin-bottom: 10px; /* 底部外边距 */
    border: 1px solid #ccc; /* 边框 */
    border-radius: 5px; /* 圆角 */
    margin-left: 20px; /* 左边距 */
}

button {
    background-color: #FF5722; /* 按钮背景色 */
    color: white; /* 按钮文字颜色 */
    border: none; /* 无边框 */
    padding: 10px 20px; /* 内边距 */
    font-size: 16px; /* 字体大小 */
    border-radius: 5px; /* 圆角 */
    cursor: pointer; /* 鼠标指针样式 */
}

button:hover {
    background-color: #E64A19; /* 悬停状态下的背景色 */
}

#game {
    margin-top: 20px; /* 顶部外边距 */
}

#question {
    font-size: 24px; /* 字体大小 */
    margin-bottom: 10px; /* 底部外边距 */
}

.option-button {
    background-color: #FF5722; /* 按钮背景色 */
    color: white; /* 按钮文字颜色 */
    border: none; /* 无边框 */
    padding: 10px 20px; /* 内边距 */
    font-size: 16px; /* 字体大小 */
    border-radius: 5px; /* 圆角 */
    cursor: pointer; /* 鼠标指针样式 */
    margin: 5px; /* 外边距 */
}

.option-button:hover {
    background-color: #E64A19; /* 悬停状态下的背景色 */
}

#feedback {
    font-size: 18px; /* 字体大小 */
    margin-top: 10px; /* 顶部外边距 */
}

#time {
    font-size: 18px; /* 字体大小 */
    margin-top: 10px; /* 顶部外边距 */
}

#history {
    flex-grow: 1;
    margin-top: 20px;
    max-height: 200px;
}

#history div {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

#history div:nth-child(even) {
    background-color: #f2f2f2;
}

#history div:hover {
    background-color: #ddd;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}
